<button
  class="navbar-toggler floating-navbar-toggler"
  type="button"
  aria-controls="mainNavbar"
  [attr.aria-expanded]="isNavOpen"
  aria-label="Toggle navigation"
  [class.d-none]="!showFloatingToggler"
  (click)="toggleNavbar()"
>
  <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-wrapper">
  <!-- Navbar Left: Logo + Cliente + Planos -->
  <nav #navbarRoot [class]="navbarClass + ' navbar-expand-lg navbar-light navbar-left'">
    <div class="container">
      <div
        class="navbar-collapse"
        id="mainNavbar"
        #navbarCollapse
        [class.collapse]="true"
        [class.show]="isNavOpen"
      >
        <div class="navbar-nav d-flex align-items-center gap-3">
          <a class="nav-link" href="/#funcionalidades" (click)="closeNavbar(); scrollToSection($event, 'funcionalidades')">Funcionalidades</a>
          <a class="nav-link" href="/#clientes" (click)="closeNavbar(); scrollToSection($event, 'clientes')">Sobre</a>
          <a class="nav-link" href="/#contato" (click)="closeNavbar(); scrollToSection($event, 'contato')">Contato</a>
        </div>
      </div>
    </div>
  </nav>

</div>
